@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 204 88% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --header-height: 3.2rem;
    --primary-bg: 0, 0%, 98.82%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --primary-bg: 214.29 13.73% 10%;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .editor {
    @apply w-full max-w-full overflow-hidden;
  }

  .editor p {
    @apply w-full max-w-full break-words text-sm;
  }

  .editor h1 {
    @apply font-bold text-4xl;
  }

  .editor h2 {
    @apply font-bold text-3xl;
  }

  .editor h3 {
    @apply font-bold text-2xl;
  }

  .editor h4 {
    @apply font-bold text-xl;
  }

  .editor h5 {
    @apply font-bold text-lg;
  }

  .editor ul {
    @apply list-disc list-inside;
  }

  .editor ol {
    @apply list-decimal list-inside;
  }

  .editor a {
    @apply text-blue-500 underline hover:text-blue-700;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  *::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  *::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }

  .flaming-text {
    color: #ff4500 !important; /* Màu cam đậm hơn */
    font-weight: bold;
    position: relative;
    text-shadow:
      0 0 30px #ff4500,
      /* Ánh sáng cam đậm */ 0 0 40px #ff8c00,
      /* Ánh sáng cam nhạt */ 0 0 50px #ffd700,
      /* Ánh sáng vàng đậm */ 0 0 60px #ff8c00,
      /* Ánh sáng cam nhạt */ 0 0 80px #ff4500,
      /* Ánh sáng cam đậm hơn */ 0 0 90px #ff0000; /* Màu đỏ đậm */
    animation: flameAnimation 1.5s infinite; /* Giảm thời gian animation để hiệu ứng nhanh hơn */
  }

  /* Tạo chuyển động để ngọn lửa lung linh */
  @keyframes flameAnimation {
    0% {
      text-shadow:
        0 0 30px #ff4500,
        0 0 40px #ff8c00,
        0 0 50px #ffd700,
        0 0 60px #ff8c00,
        0 0 80px #ff4500,
        0 0 90px #ff0000;
    }
    50% {
      text-shadow:
        0 0 40px #ff4500,
        0 0 50px #ff8c00,
        0 0 60px #ffd700,
        0 0 70px #ff8c00,
        0 0 90px #ff4500,
        0 0 100px #ff0000;
    }
    100% {
      text-shadow:
        0 0 30px #ff4500,
        0 0 40px #ff8c00,
        0 0 50px #ffd700,
        0 0 60px #ff8c00,
        0 0 80px #ff4500,
        0 0 90px #ff0000;
    }
  }

  .text-appear {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  .text-appear2 {
    border-right: solid 3px rgba(0, 255, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    animation:
      animated-cursor 1000ms steps(24, end) infinite,
      animated-text 5s steps(24, end) 1s 1 normal both;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 130px;
    }
  }

  @keyframes animated-cursor {
    from {
      border-right-color: rgba(0, 255, 0, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  @keyframes move-grid {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 20px 20px;
    }
  }

  .grid-background {
    background-color: #f9f9f9;
    background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
      linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 25px 25px;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
