@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 210 90.2% 40%;
    --primary-foreground: 210 100% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --header-height: 4rem;
    --primary-bg: 200, 23.08%, 97.45%;
  }

  .dark {
    --primary-bg: 210, 4%, 9.8%;
    --background: 210, 2.7%, 14.51%;
    --foreground: 222.86, 10.14%, 86.47%;

    --card: 220 15% 15%;
    --card-foreground: 210 20% 90%;

    --popover: 220 17% 12%;
    --popover-foreground: 210 20% 90%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 240 6% 20%;
    --secondary-foreground: 210 20% 90%;

    --muted: 240 7% 25%;
    --muted-foreground: 220 10% 70%;

    --accent: 210 40% 50%;
    --accent-foreground: 210 20% 90%;

    --destructive: 0 60% 50%;
    --destructive-foreground: 210 100% 98%;

    --border: 220 10% 30%;
    --input: 220 10% 30%;
    --ring: 220 20% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .editor {
    @apply w-full max-w-full overflow-hidden;
  }

  .editor p {
    @apply w-full max-w-full break-words;
  }

  .editor h1 {
    @apply font-bold text-4xl;
  }

  .editor h2 {
    @apply font-bold text-3xl;
  }

  .editor h3 {
    @apply font-bold text-2xl;
  }

  .editor h4 {
    @apply font-bold text-xl;
  }

  .editor h5 {
    @apply font-bold text-lg;
  }

  .editor ul {
    @apply list-disc list-inside;
  }

  .editor ol {
    @apply list-decimal list-inside;
  }

  .editor a {
    @apply text-blue-500 underline hover:text-blue-700;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  *::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  *::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }

  .flaming-text {
    color: #ff4500 !important; /* Màu cam đậm hơn */
    font-weight: bold;
    position: relative;
    text-shadow:
      0 0 30px #ff4500,
      /* Ánh sáng cam đậm */ 0 0 40px #ff8c00,
      /* Ánh sáng cam nhạt */ 0 0 50px #ffd700,
      /* Ánh sáng vàng đậm */ 0 0 60px #ff8c00,
      /* Ánh sáng cam nhạt */ 0 0 80px #ff4500,
      /* Ánh sáng cam đậm hơn */ 0 0 90px #ff0000; /* Màu đỏ đậm */
    animation: flameAnimation 1.5s infinite; /* Giảm thời gian animation để hiệu ứng nhanh hơn */
  }

  /* Tạo chuyển động để ngọn lửa lung linh */
  @keyframes flameAnimation {
    0% {
      text-shadow:
        0 0 30px #ff4500,
        0 0 40px #ff8c00,
        0 0 50px #ffd700,
        0 0 60px #ff8c00,
        0 0 80px #ff4500,
        0 0 90px #ff0000;
    }
    50% {
      text-shadow:
        0 0 40px #ff4500,
        0 0 50px #ff8c00,
        0 0 60px #ffd700,
        0 0 70px #ff8c00,
        0 0 90px #ff4500,
        0 0 100px #ff0000;
    }
    100% {
      text-shadow:
        0 0 30px #ff4500,
        0 0 40px #ff8c00,
        0 0 50px #ffd700,
        0 0 60px #ff8c00,
        0 0 80px #ff4500,
        0 0 90px #ff0000;
    }
  }
}
